/* ABOUT */
.about-page-content {
  margin: auto;
  text-align: center;
}

.about-page-picture {
  display: flex;
  background-image: url(/images/wojciech-then-DijA5f0voGQ-unsplash2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  height: 30rem;
}
.about-page-txt {
  max-width: 75%;
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.main-sub-page {
  height: 100vh;
}
.main-faq-container {
  width: 75%;
  margin: auto;
  height: 100vh;
}
.question-container:last-child {
  margin-bottom: 2rem;
}
@media (max-width: 650px) {
  .main-faq-container {
    width: 85%;
  }
}
