.hero {
  background-image: url(../images/benjamin-davies-mqN-EV9rNlY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50rem;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.new-arrivals-containter {
  border: 4px solid var(--contrast-color);
  background-color: rgba(63, 98, 106, 0.5);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.new-arrivals-containter a:hover {
  background-color: rgba(63, 98, 106, 0.7);
  color: var(--contrast-color);
}
.new-arrivals-containter a {
  padding: 1rem 2rem;
}
.hero div {
  align-self: center;
}
.women-pic {
  background-image: url(../images/woman.png);
  background-repeat: no-repeat;
  height: 25rem;
  width: 25rem;
}
.men-pic {
  background-image: url(../images/man.png);
  background-repeat: no-repeat;
  height: 25rem;
  width: 25rem;
}
.buy-gender {
  display: flex;
  justify-content: center;
}
.buy-gender a {
  align-self: center;
  color: var(--light-color);
  font-size: 1.5rem;
}
.women-pic a {
  padding: 4rem 3rem;
}
.men-pic a {
  padding: 4rem 4rem;
}
.buy-gender a:hover {
  background-color: rgba(63, 98, 106, 0.7);
}
.buy-gender div {
  min-width: 8rem;
  border: 3px solid var(--dark-color);
  background-color: rgba(63, 98, 106, 0.2);
  text-align: center;
}

.all-weather-conditions {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-color);
}

.weather-conditon-pic {
  height: 10rem;
  width: 10rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 3rem 1rem;
  border: 1px solid var(--light-color);
}
.weather-conditon-pic div {
  align-self: center;
}
.weather-conditon-pic div a {
  align-self: center;
  border: var(--dark-color) solid 2px;
  color: var(--light-color);
  background-color: rgba(63, 98, 106, 0.7);
  padding: 1rem;
}
.weather-conditon-pic div a:hover {
  background-color: rgba(63, 98, 106, 0.9);
  border-color: var(--contrast-color);
}
.rain {
  background-image: url(../images/rain.jpg);
}
.snow {
  background-image: url(../images/snow.jpg);
}
.extreme {
  background-image: url(../images/extreme.jpg);
}
.urban {
  background-image: url(../images/urban.jpg);
}

/* INDEX-ABOUT */
.index-about-container {
  background-image: url(../images/wojciech-then-DijA5f0voGQ-unsplash2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25rem;
  position: relative;
  margin: auto;
}
#index-about-text {
  color: #e8edee;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-40%, -40%);
  padding-left: 20rem;
  padding-right: 15rem;
  padding-bottom: 0rem;
  min-width: 25rem;
  max-width: 40rem;
}
@media (max-width: 1300px) {
  .new-arrivals-containter {
    display: none;
  }
  .hero {
    min-height: 30rem;
    max-height: 40rem;
  }
}
@media (max-width: 1000px) {
  .buy-gender {
    height: 15rem;
    width: 15rem;
    background-size: cover;
  }
}
@media (max-width: 650px) {
  .buy-gender {
    display: none;
  }
  .mobile {
    display: block;
    /* display: flex; */
  }

  .hero {
    justify-content: center;
    flex-direction: column;
  }
  .mobile p {
    color: var(--light-color);
    margin: 0.5rem;
  }
  .mobile p:first-child {
    margin-right: 10rem;
    margin-bottom: 1rem;
  }
  .mobile-gender-link {
    display: inline-block;
    color: var(--light-color);
    border: 2px solid var(--light-color);
    border-radius: 5px;
    padding: 0.5rem;
  }

  .new-arrivals-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
  }
  .new-arrivals-mobile a {
    display: inline-block;
    align-self: center;
    border: 1px solid var(--light-color);
    width: auto;
    padding: 0.5rem;
    margin: 1rem 0 3rem 0;
  }
  .new-arrivals-mobile a:hover,
  .mobile-gender-link:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  .all-weather-conditions {
    display: none;
  }
}
