
/* Explenation of comments*/

/*!:Problems to be fixed */
/*TODO: add this, change that*/
/*?: Questions I want to dig deeper in*/

/*
COLOURS
main background-color: #E8EDEE
dark text-color: #0A3641
Contrast-color:#DF6800

*/

@font-face {
   
    font-family: 'Roboto', sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');/* *!fix */
}
header {
    background-color:#E8EDEE;
}

body {
    box-sizing: border-box;
    max-width: 1770px;
    margin: auto;
}
main{
    background-color: #E8EDEE;
}


img {
    max-height: 200px;
}
/* buttons */
.button3 {
    text-transform: uppercase;
    display: inline;
    margin:3rem; 
    color: #E8EDEE;
    background-color: #0A3641;
    border-color: #E8EDEE;
    border-style: solid;
    height: 2rem;
    width: 6rem;
}

.button-3-clear {
    text-transform: uppercase;
    color:#E8EDEE; 
    background:rgba(0, 0, 0, .34);
    height: 3rem;
    width: 8rem;
    font-size: 1.25rem;
    border: solid 2px;
        
}

.button-new-arrivals {
    color: #DF6800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 5rem;
    width: 15rem;
    font-size: 1.5rem;
    font-weight: 100;
    border: solid 3px #E8EDEE;

}
/* icons */
.social-icon{
    font-size: 2rem;
}

/* NAVIGATION */
/*HAMBURGER-MENU*/
.hamburger-container {
    position: absolute;
    left: 2rem;
    top: 1.5rem;
    float: right;
}
.hamburger-layer{
    width: 35px;
    height: 5px;
    background-color: #0A3641;
    margin: 6px 0;
}

#hamburger-menu, .hamburger-layer {
    display: none;
}

nav {
    background-color: #E8EDEE;   
    
}

.header-elements {
    display: flex;
    justify-content: center;
}

.nav-element {
    text-transform: uppercase;
    
    /* display: inline; */
    /* flex-direction: row; */
    align-self: end;
    margin:1rem 3rem 0 0;
    
}

/* text */
a {
    font-family: Roboto;
}
h3 {
    font-size: 2rem;
    font-weight: 300;
}
ul {
    list-style: none;
    margin:0px;
    color: #0A3641;
      
}

a:link, :visited {
    text-decoration: none;
    color: #0A3641;
}

p{
    color: #0A3641;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HOME */

.hero {
    background-image: url(../images/benjamin-davies-mqN-EV9rNlY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50rem;
    max-width: 1770px;
    display: flex;
    justify-content: space-around;
}
.buy-gender{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.button-3-clear{
    margin-left: auto;
    margin-right: auto;

}
.button-new-arrivals{
    margin-top: 22rem;
}
.women-pic {
    background-image: url(../images/woman.png);
    background-repeat: no-repeat;
    height:25rem;
    width: 25rem;
    align-self: center;
    
}
.men-pic {
    background-image: url(../images/man.png);
    background-repeat: no-repeat;
    height:25rem;
    width: 25rem;
    align-self: center;

   
}

.center-content {
    display: flex;
    justify-content: center;
    background-color: #0A3641 ;
    
    
}
.new-arrivals-mobile{
    display: none;
}

.weather-conditon-pic{
    height: 10rem;
    width: 10rem;
    margin: 5rem 5rem 5rem 0;
    border: solid  #707070 1px;
    position: relative;
    background-size: cover;
    display: flex;
    align-content: center;
}
.weather-condition{
    /* margin: 10rem; */ 
    position: absolute;
    left:-15px;
    bottom: 17px;
   
}
.rain {
    margin-left: 5rem;
    background-image: url(../images/rain.jpg);
    
}
.snow {
    background-image: url(../images/snow.jpg);
}
.extreme {
    background-image: url(../images/extreme.jpg);
}
.urban{
    background-image: url(../images/urban.jpg);
}
/*POPULAR STYLES INDEX*/
.popular-styles-h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: #DF6800;
    text-transform: uppercase;

}
.popular-styles {
    display: flex;
    justify-content: center;
}
.jacket:not(:last-child){
    margin-right: 5rem;
}
.jacket-info-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.jacket-short-info{
    width: 140px;
    border: solid  #707070 .5px;
    display: flex;
    flex-direction: column;
}
.jacket-short-info:not(:last-child) {
    margin-right: 5rem;
}
.jacket-short-info p{
    align-self: center;   
}
.jacket-name{
    font-size: 18px;
    font-weight: 500;
}

/*ABOUt-SECTION INDEX*/

#index-about-picture {
    max-width: 100%;
    max-height: 100px;
}

.index-about-container {
    background-image: url(../images/wojciech-then-DijA5f0voGQ-unsplash2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;
    position: relative;
    max-width: 2000px;
}
#index-about-text {
    color: #E8EDEE;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-40%, -40%);
    padding-left: 20rem;
    padding-right: 15rem;
    padding-bottom: 0rem;
    min-width: 25rem;
    max-width: 40rem;
}


/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around;
    background-color: #3F626A ;
    color: #0A3641;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.first-footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.first-footer-list li{
    margin: .5rem;
    
}
.socials-footer{
    display: flex;
   
}
.socials-footer li{
    margin: 3rem 3rem 0 0;
    
}

.second-footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.second-footer-list li{
    margin: .5rem;
}

/* ABOUT-PAGE */
.about-picture{
    max-height: 75rem;
}

@media(max-width: 1200px) {
    
  /*   .nav-logo {
           
    } */
    #logo {
        width: 10rem; /* Had to make an id to override the size */
        justify-self: center; 
    }
    .hamburger-layer{
        display: block;
    }
    #hamburger-menu:checked ~ nav{
        display: block;
    }
    
    .header-elements {
        justify-content: center;
    }
    .nav-element {
        display: none;
    }
    
    .buy-gender{
        height: 15rem;
        width: 15rem;
        background-size: cover;
    }
    
    
    .center-content {
        display: none;
    }
    .popular-styles {
        flex-wrap: wrap;
    }
    .jacket { /*TODO jackets need more info and to be centered*/
        margin-bottom: 1rem;
    
    }
    .jacket-4 {
        margin-right: 5rem;


    }
    .jacket-info-container{
        display: none;
    }
    footer {
        align-items: flex-start;
    }

    .socials-footer {
        flex-direction: column;
    }    
}
@media(max-width: 780px){
    .hero{
        background-size: 100vw;
        min-height: 30rem;
        display: grid;
        grid-template-columns:[first-c] 10% [second-c]25% [third-c] 20% [forth-c]25% [last-r] 10%;
        grid-template-rows:[first-r] 25%[second-r] 25% [third-r]25%[forth-r] 25%;
        grid-template-areas: 
        ". . . . ."
        ". . . . ."
        ". women . men ."
        ". . . . ."
        
        ;
    }
    .buy-gender{
        height: 10rem;
        width: 10rem;
      
        
    }
    .women-pic{
        grid-area: women;
    }
    .button-new-arrivals{
        display: none;
    }
    .men-pic {
        grid-area: men;
    }
    .new-arrivals-mobile{
        display: block;
        color:#E8EDEE ;
        background-color: #0A3641;
        display: flex;
        flex-direction: column;
        align-items:center;
        font-family: Roboto;
        padding-bottom:1.34rem;
        
        
        
    }
    .new-arrivals-mobile button{
        width: 15rem;
        color: #DF6800;
        border:#E8EDEE solid 2px;

    }


}
@media only screen and (max-width:600px) { /*TODO Move stuff from other mediaquery to this one. I can keep more in screen sizes between 600 and 1200px*/
    
    .hero{
        grid-template-areas: 
        ". . . . ."
        
        ". . . . ."
        ". . . . ."
        "woman women . men men";
    }
    .buy-gender{
        height: 8rem;
        width: 8rem;
    }
    .button-new-arrivals{

    }
}