
/* Explenation of comments*/

/*!:Problems to be fixed */
/*TODO: add this, change that*/
/*?: Questions I want to dig deeper in*/

/*
COLOURS
main background-color: #E8EDEE
dark text-color: #0A3641
Contrast-color:#DF6800

*/
:root{
    --light-color: #E8EDEE;
    --medium-green: #3F626A;
    --dark-color: #0A3641;
    --contrast-color: #DF6800;
}
*{
    margin:0;
    padding:0;
    border:0;
    /* box-sizing: border-box; */ /*!makes the about-text narrow*/
}
/* Typography */
@font-face {
   
    font-family: 'Roboto', sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');/* *!fix */
}
h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    color: var(--contrast-color);
}
.h1-sub-pages{
    text-align: center;
    font-weight: 300;
}
h2{
    font-weight: 300;
    padding: 1rem;
}
header {
    background-color:#E8EDEE;
    display: flex;  
    justify-content: space-between;
}
.nav-1{
    order: 1;
    padding-left: 1rem;
}

.logo-align{
    order: 2;
}
.nav-2{
    order: 3;
    padding-right: 1rem;
}

.nav-elements{   
    display: flex;
    
}
.nav-logo{
    padding:1rem;    
}



.nav-interaction-elements{   
    display: flex;
}

body {
    box-sizing: border-box;
    max-width: 1770px;
    margin: auto;
    /* min-height: 100vh; */
    height: 100%;
}
main{
    background-color: #E8EDEE;
}


img {
    max-height: 200px;
}
/* buttons */
.button3, .button-3-clear{
    text-transform: uppercase;
    color: #E8EDEE;
    border: 2px solid #E8EDEE;
    display: flex;
    justify-content: center;
    width: 8rem;

}
.button3{ 
    background-color: #0A3641;
    height: 2rem;
}

.button-3-clear {
    background:rgba(0, 0, 0, .34);
    height: 3rem; 
    font-size: 1.25rem;
    align-self: center;
    padding-top: .7rem;
    height: 2.5rem;    
}
.button-3-clear:visited{
    color: var(--light-color);
}
.button-3-clear:hover, .button3:hover{
    color: var(--contrast-color);
    border-color:var(--contrast-color);
}


.button-new-arrivals {
    color: #DF6800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 3rem;
    width: 15rem;
    font-size: 1.5rem;
    font-weight: 100;
    border: solid 3px #E8EDEE;
    padding-top: 1.3rem;

}
/* icons */
.social-icon{
    font-size: 2rem;
}
.social-icon:hover, .menu-icon:hover{
    color: var(--contrast-color);
}


/* NAVIGATION */
nav{
    display: flex;
    
}
.menu-btn, .menu-icon{
    display: none;
}
.visiting {
    font-weight: 500;
}

/* .nav-elements {
    display: flex;
    justify-content: center;
} */

.nav-element {
    text-transform: uppercase;
    
    
    /* align-self: end; */
    margin:1rem 3rem 0 0;
    
}
.nav-element a:hover{
    color: var(--contrast-color);
}

/* text */
a {
    font-family: Roboto;
}
h3 {
    font-size: 2rem;
    font-weight: 300;
}
ul {
    list-style: none;
    margin:0px;
    
      
}

a:link, a:visited {
    text-decoration: none;
    color: #0A3641;
}

p{
    color: #0A3641;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HOME */

.hero {
    background-image: url(../images/benjamin-davies-mqN-EV9rNlY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50rem;
    max-width: 1770px;
    display: flex;
    justify-content: space-around;
}
.buy-gender{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.button-3-clear .button3{
    margin-left: auto;
    margin-right: auto;
    

}
.new-arrivals-containter{
    display: flex;
}

.women-pic {
    background-image: url(../images/woman.png);
    background-repeat: no-repeat;
    height:25rem;
    width: 25rem;
    align-self: center;
    
}
.men-pic {
    background-image: url(../images/man.png);
    background-repeat: no-repeat;
    height:25rem;
    width: 25rem;
    align-self: center;

   
}

.all-weather-conditions {
    display: flex;
    justify-content: center;
    background-color: #0A3641 ;
    
    
}
.new-arrivals-mobile{
    display: none;
}

.weather-conditon-pic{
    height: 10rem;
    width: 10rem;
    margin: 5rem 5rem 5rem 0;
    border: solid  #707070 1px;
    /* position: relative; */
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
.weather-condition{
    align-self: center;
    width: 7rem;
    padding-top: .5rem;
    
    
    
   
}
.rain {
    margin-left: 5rem;
    background-image: url(../images/rain.jpg);
    
}
.snow {
    background-image: url(../images/snow.jpg);
}
.extreme {
    background-image: url(../images/extreme.jpg);
}
.urban{
    background-image: url(../images/urban.jpg);
}
/*POPULAR STYLES INDEX*/
.popular-styles-h3 {
    text-align: center;
    margin: 2rem 0;
    color: #DF6800;
    text-transform: uppercase;

}

.jacket-info-container{
    display: flex;
    justify-content: center;
    
    
}
.jacket-short-info{
    width: 140px;
    border: solid  #707070 .5px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 140px;
    margin-bottom: 2rem;
}
.jacket-short-info:not(:last-child) {
    margin-right: 5rem;
}
.jacket-short-info p{
    align-self: center;   
}
.jacket-name{
    font-size: 18px;
    font-weight: 500;
}
.jacket-short-info:hover{
    border: 1px solid var(--light-color);
}

/*ABOUT-SECTION INDEX*/

#index-about-picture {
    max-width: 100%;
    max-height: 100px;
}

.index-about-container {
    background-image: url(../images/wojciech-then-DijA5f0voGQ-unsplash2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;
    position: relative;
    max-width: 2000px;
}
#index-about-text {
    color: #E8EDEE;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-40%, -40%);
    padding-left: 20rem;
    padding-right: 15rem;
    padding-bottom: 0rem;
    min-width: 25rem;
    max-width: 40rem;
}


/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around;
    background-color:var(--medium-green) ;
    color: var(--dark-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: 1px solid var(--dark-color);
}

footer ul li{
    font-weight: medium;
}
.first-footer-list a:hover, .second-footer-list a:hover{
    color: var(--contrast-color);
}
footer ul a:visited{
    color:var(--dark-color)
}

.first-footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.first-footer-list li{
    margin: .5rem;
    
}
.socials-footer{
    display: flex;
   
}
.socials-footer li{
    margin: 3rem 3rem 0 0;
    
}
/* .social-icon, .socials-footer a:visited{
    color: var(--light-color);
} */

.second-footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.second-footer-list li{
    margin: .5rem;
}

/* ABOUT-PAGE */
.about-picture{
    max-height: 75rem;
}
/* LIST-OF-JACKETS */

.list-of-jackets{
    flex-wrap: wrap;
    flex: 1;

}
.sub-page-footer{
    /* flex-shrink: 0; */
    margin-top: auto;
}
.free-shipping{
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: .8rem;
}
.vh-fix{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light-color);
}

@media(max-width: 1200px) {

    .hero {
        min-height: 30rem;
    }
    
    .nav-with-icons{
        display: none;
    }

    #logo {
        width: 10rem; /* Had to make an id to override the size */
    } 
    .logo-align{
        order:1;
    }
    .nav-1{
        order:3;
        justify-self: flex-end;
        display: flex;
    }
    .nav-2{
        display: none;
    }
    .menu-icon{ /* Show hamburger menu icon */
        display: block;
    }
    .nav-element {
       padding:20px;
    }
    .nav-elements{
        display: none;
    }
    .menu-btn{
        display: none;
    }
    #menu-btn:checked ~ .nav-elements{
        display: block;

    }
   
    .menu-icon {
        color: var(--dark-color);
        margin: 5px;
        padding: 10px;
        font-size: 2rem;
        cursor: pointer;
        order: 2;
        /* justify-self: flex-end; */
        }
    
    .buy-gender{
        height: 15rem;
        width: 15rem;
        background-size: cover;
    }
    
    
    footer {
        align-items: flex-start;
    }

    .socials-footer {
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin-left: 2rem;
    }    
}
@media(max-width: 780px){
    .hero{
        background-size: 100vw;
        min-height: 25rem;
        display: grid;
        grid-template-columns:[first-c] 10% [second-c]25% [third-c] 20% [forth-c]25% [last-r] 10%;
        grid-template-rows:[first-r] 25%[second-r] 25% [third-r]25%[forth-r] 25%;
        grid-template-areas: 
        ". . . . ."
        ". . . . ."
        ". women . men ."
        ". . . . ."
        
        ;
    }
    .buy-gender{
        height: 10rem;
        width: 10rem;
      
        
    }
    .women-pic{
        grid-area: women;
    }
    .button-new-arrivals{
        display: none;
    }
    .men-pic {
        grid-area: men;
    }
    .new-arrivals-mobile{
        display: block;
        color:#E8EDEE ;
        background-color: #0A3641;
        display: flex;
        flex-direction: column;
        align-items:center;
        font-family: Roboto;
        padding-bottom:1.34rem;
        
        
        
    }
    .button-new-arrivals-mobile {
        width: 15rem;
        color: #DF6800;
        border:#E8EDEE solid 2px;
        margin: 1rem;

    }
    .all-weather-conditions{
        display: none;
    }
    
    .jacket-short-info:not(:last-child), .jacket:not(:last-child) {
        margin-right: .5rem;

    }
    


}
@media only screen and (max-width:600px) { 
    
    .hero{
        min-height: 20rem;
        
        grid-template-areas: 
        ". . . . ."
        "woman women . men men"
        ". . . . ."
        ". . . . ."
        ;
    }
    .buy-gender{
        height: 8rem;
        width: 8rem;
        margin-bottom: 2rem;
    }
    
    .all-weather-conditions {
        display: none;
    }
    .jacket-info-container {
        flex-wrap: wrap;
    }
    
    .jacket {
        min-width: 132px;
       
    }
   
    #index-about-text{
        min-width: 20rem;
    }

}